<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">
        
                
        <bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
        	<!-- 最大空闲数 -->
        	<property name="maxIdle" value="${redis.maxIdle}"/>
        	<!-- 最大连接数 -->
        	<property name="maxTotal" value="${redis.maxTotal}"/>
        	<!-- 最大等待时间 -->
        	<property name="maxWaitMillis" value="${redis.maxWaitMillis}"/>
        </bean>

		<bean id="connectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
			<property name="hostName" value="${redis.hostName}"/>
			<property name="port" value="${redis.port}"/>
			<property name="password" value="${redis.password}"></property>
			<property name="poolConfig" ref="poolConfig"/>
		</bean>
		

		<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
			<property name="connectionFactory" ref="connectionFactory"/>
			<!-- <property name="defaultSerializer" ref="stringRedisSerializer"/> -->
			
			<property name="keySerializer">
	            <bean class="org.springframework.data.redis.serializer.StringRedisSerializer"/>
	        </property>
	        <property name="valueSerializer">
	            <bean class="org.springframework.data.redis.serializer.JdkSerializationRedisSerializer"/>
	        </property>
			
		</bean>
		
		<bean id="redisDao" class="com.dangde.dao.cache.RedisDao">
			<constructor-arg index="0" ref="redisTemplate"/>
		</bean>
</beans>